/* Styles without media */

.btn {
    font-size: 1rem;
    padding: 20px 20px;
    display: inline-block;
    cursor: pointer;
    border-radius: 1000px;
    background: #009387;
    font-family: "Rubik","Arial",sans-serif;
    font-weight: 400;
    color: #fff;
    transition: all ease-in .2s;
}

.btn a {
    color: #fff;
}

.btn-dark:hover {
    color: #0D1E23;
}

.btn--large {
    font-size: 1.5rem;
    padding: 26px;
    transition: all ease-in .3s;
}

.btn:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #009387;
}

.btn--large:hover {
    transform: scale(1.075);
}

/* Min-width: 500px Styles */

@media screen and (min-width: 500px) {
    .btn--large {
        font-size: 1rem;
        padding: 15px;
    }
}

/* Min-width: 930px Styles */

@media screen and (min-width: 850px) {
    .btn--large {
        font-size: 1.2rem;
        padding: 20px;
    }
}

/* Min-width: 1200px Styles */

@media screen and (min-width: 1200px) {
    .btn--large {
        font-size: 1.4rem;
        padding: 20px;
    }
}

/* Min-width: 1440px Styles */

@media screen and (min-width: 1440px) {
    .btn--large {
        font-size: 1.5rem;
        padding: 26px;
    }
}