/* Styles without media */

.home-banner__photo {
    display: none;
}

.home-banner__photo img {
    width: 33vw;
}

.home-banner__title {
    color: #fff;
    font-size: 12.5vw;
}

.home-banner__subtitle {
    line-height: 140%;
    font-size: 5vw;
    margin: 1rem 0 2rem 0;
}

.home-banner__description {
    padding-top: 10vh;
    text-align: center;
}

.home-banner__content {
    display: flex;
    padding-top: 6rem;
}

.home-banner-max-vh {
    height: 100vh;
}

/* Min-width: 500px Styles */

@media screen and (min-width: 500px) {

    .home-banner-max-vh {
        height: auto;
    }

    .home-banner__photo {
        display: block;
    }

    .home-banner__description {
        padding-top: 2vw;
        text-align: left;
    }

    .home-banner__photo img {
        width: 33vw;
        margin-top: -1rem;
    }

    .home-banner__description {
        padding-right: 40px;
    }
    
    .home-banner__title {
        font-size: 2.5rem;
    }
    
    .home-banner__subtitle {
        font-size: 1.4rem;
        margin: 1rem 0 2rem 0;
    }
    
    .home-banner__content {
        padding-top: 10rem;
        padding-bottom: 4rem;
    }
}

/* Min-width: 1025px Styles */

@media screen and (min-width: 1025px) {
    .home-banner__photo img {
        width: 300px;
    }

    .home-banner__description {
        padding-right: 100px;
    }
    
    .home-banner__title {
        font-size: 3rem;
    }
    
    .home-banner__subtitle {
        margin: 2rem 0 3rem 0;
    }
    
    .home-banner__content {
        padding-top: 25vh;
    }

    .home-banner-max-vh {
        height: 100vh;
    }
}

/* Min-width: 1200px Styles */

@media screen and (min-width: 1200px) {
    .home-banner__photo img {
        width: 350px;
    }

    .home-banner__description {
        padding-right: 100px;
    }
    
    .home-banner__title {
        font-size: 3.5rem;
    }
    
    .home-banner__subtitle {
        font-size: 1.6rem;
        margin: 2rem 0 3rem 0;
    }
    
    .home-banner__content {
        padding-top: 25vh;
    }

    .home-banner-max-vh {
        height: 100vh;
    }
}

/* Min-width: 1440px Styles */

@media screen and (min-width: 1440px) {
    .home-banner__photo img {
        width: 400px;
    }

    .home-banner__description {
        padding-right: 140px;
    }
    
    .home-banner__title {
        font-size: 4rem;
    }
    
    .home-banner__subtitle {
        font-size: 1.8rem;
        margin: 2rem 0 3rem 0;
    }
    
    .home-banner__content {
        padding-top: 30vh;
    }

    .home-banner-max-vh {
        height: 100vh;
    }
}
