/* Styles without media */

.logo, .logo-sticky {
    transition: 0.3s;
    font-size: 6.25vw;
    position: relative;
}

.logo-sticky {
    font-size: 4.5vw;
}

.logo a, .logo-sticky a {
    color: #fff;
    position: relative;
    padding-bottom: 15px;
}

.logo a::after, .logo-sticky a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 5px;
    border-radius: 1000px;
    background-color: #009387;
    transition: 0.3s;
}

.logo-sticky a::after {
    bottom: 20%;
    height: 3px;
}

/* Min-width: 450px Styles */

@media screen and (min-width: 450px) {
    .logo {
        font-size: 1.6rem;
    }

    .logo-sticky {
        font-size: 1.3rem;
    }
}

/* Min-width: 1200px Styles */

@media screen and (min-width: 1200px) {
    .logo {
        font-size: 2rem;
    }
}

/* Min-width: 1440px Styles */

@media screen and (min-width: 1440px) {
    .logo {
        font-size: 2.25rem;
    }
}
