/* Styles without media */

.nav {
    position: fixed;
    width: 100vw;
    background-color: #0D1E23;
    z-index: 1;
    padding: 23px 0 20px 0;
    transition: 0.3s;
}

.nav-sticky {
    position: fixed;
    width: 100vw;
    background-color: #0D1E23;
    z-index: 1;
    padding: 15px;
    transition: all 0.3s ease-in-out;
}

.nav-inner {
    display: flex;
    align-items: center;
}

.nav-bar {
    margin-left: auto;
    display: none;
}

.nav-elements, .nav-elements-sticky {
    display: flex;
    transition: 0.3s;
}

.nav-elements li {
    transition: 0.3s;
    font-size: 1rem;
}

.nav-elements-sticky li {
    font-size: 1rem;
    transition: 0.3s;
}

.nav-elements a {
    position: relative;
}

.nav-elements a:hover {
    position: relative;
    color: #fff;
}


.nav-elements a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30%;
    width: 100%;
    height: 2px;
    background-color: #009387;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease-in;
}

.nav-elements a:hover::after {
    transform: scaleX(1);
}

.nav__toggle-menu--line::before, .nav__toggle-menu--line-sticky::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 0px;
    width: 20px;
    height: 3px;
    background-color: #FFF;
    transform-origin: 0 100%;
    transition: transform .3s ease-out;
}

.nav__toggle-menu--line, .nav__toggle-menu--line-sticky {
    position: absolute;
    top: 35px;
    right: 35px;
    width: 20px;
    height: 3px;
    background-color: #FFF;
    transition: 0.3s;
}

.nav__toggle-menu--line::after, .nav__toggle-menu--line-sticky::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0px;
    width: 20px;
    height: 3px;
    background-color: #FFF;
    transform-origin: 0 100%;
    transition: transform .3s ease-out;
}

.nav__toggle-menu {
    
}

.nav__toggle-menu--line-sticky {
    top: 25px;
    right: 25px;
}

/* Min-width: 750px Styles */

@media screen and (min-width: 750px) {
    .nav-bar {
        display: block;
    }

    li:not(:last-child) {
        margin-right: 40px;
    }

    .nav__toggle-menu--line, .nav__toggle-menu--line-sticky {
        opacity: 0;
    }

    .nav {
        padding: 50px 0 20px 0;
    }
}

/* Min-width: 930px Styles */

@media screen and (min-width: 900px) {
    .nav {
        padding-top: 50px;
    }

    .nav-elements li {
        font-size: 1.2rem;
    }

    .nav-elements-sticky li {
        font-size: 1.1rem;
    }

    li:not(:last-child) {
        margin-right: 60px;
    }
}

/* Min-width: 1200px Styles */

@media screen and (min-width: 1200px) {
    .nav {
        padding-top: 50px;
    }

    .nav-elements li {
        font-size: 1.3rem;
    }
}

/* Min-width: 1440px Styles */

@media screen and (min-width: 1440px) {
    .nav {
        padding-top: 80px;
    }

    .nav-elements li {
        font-size: 1.5rem;
    }

}
