.page-section {
    padding: 4rem 0;
    color: #959fa2;
}

.page-section--dark {
    background-color: #0D1E23;
}

.page-section--light {
    background-color: #f0fafc;
}

.page-section__title {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: 4rem;
    position: relative;
}

.page-section__title--dark {
    color: #0D1E23;
}

.page-section__title--light {
    color: #fff;
}

.page-section__title--dark::after, .page-section__title--light::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20%;
    width: 4%;
    height: 5px;
    border-radius: 1000px;
    background-color: #009387;
}

.page-section__text-title {
    color: #fff;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}

.page-section__text-desc {
    font-size: 1.3rem;
    padding-bottom: 2rem;
}

.page-section__narrow-centered{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.page-section__flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.page-section__flex--srp div:not(:last-child) {
    padding-right: 2rem;
}
