.project-preview {
    display: flex;
    margin-bottom: 10rem;
}

.project-preview:last-of-type {
    margin-bottom: 3rem;
}

.project-preview__img {
    width: 60%;
    padding-top: 1rem;
}

.project-preview__content {
    width: 40%;
}

.project-preview__content-left {
    margin-right: 10rem;
}

.project-preview__content-right {
    margin-left: 10rem;
}

.project__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #0D1E23;
}

.project__desc {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.project__tech-list {
    margin-bottom: 2rem;
}

.project__tech-list-items {
    margin-bottom: 1.5rem;
}

.project__tech-list-items li, .authentic-info li{
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}

.project__tech-list-title, .authentic-info--title {
    color: #0D1E23;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.authentic-info {
    margin-bottom: 1rem;
}

.project__img {
    box-shadow: 0 1px 5px rgba(13, 30, 35, .05), 0 5px 30px rgba(0, 0, 0, .2);
}