.row__6 {
    float: left;
    width: 50%;
    padding-bottom: 1rem;
}

/* Max-width: 750px Styles */

@media screen and (min-width: 750px) {
    .row__6 {
        float: none;
        width: unset;
    }

    .row__6:not(:last-child) {
        padding-right: 1rem;
    }
}