/* Styles without media */

.wrapper {
    max-width: 900px;
    padding: 0 18px;
    margin-left: auto;
    margin-right: auto;
}

/* Min-width: 1200px Styles */

@media screen and (min-width: 1200px) {
    .wrapper {
        max-width: 1036px;
    }
}

/* Min-width: 1440px Styles */

@media screen and (min-width: 1440px) {
    .wrapper {
        max-width: 1236px;
    }
}